@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";


@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
    font-weight: 100 900;
}

:root{
    --nav-font: 'Montserrat', sans-serif;
    --hero-font: 'SpaceGrotesk', sans-serif;
    --primary: #040711;
    --transparent-pill : #0b4574;
}

@theme {
    --font-nav: 'Montserrat', sans-serif;
    --font-hero:'SpaceGrotesk', sans-serif;
    --color-primary: #040711;
    --color-transparent-pill: #0b4574;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--primary);
    overflow-x: hidden;
}

/* .no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
} */

@utility nav-option {
    @apply text-xs leading-5 font-nav cursor-pointer bg-transparent border-none outline-none rounded-full py-1 px-2 transition-all duration-300 hover:bg-white/15 hover:text-white;
}

::selection{
    background-color: #AFABFD;
    color: #fff;
}